body{
            background-color:rgb(255, 223, 287);
        }
        table{
            border: 1px solid #000;
            border-spacing: 0;
              background-color:rgb(258, 255, 255);
        }
         td{
            border: 0.5px solid #000;
            border-spacing: 0;
         }
         h2{
              background-color:rgb(201, 255, 248);
        }
        h1{
             background-color:rgb(201, 255, 248);
        }